*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-margin-top: 115px;
}

body {
    overflow-x: hidden;
    padding-top: 65px;
}

.nav {
    width: 100vw;
    padding: 4px 0px;
    background-color: rgb(60, 60, 248);
    position: fixed;
    top: 0;
    z-index: 3;
}

#login{
    float: right;
    color: yellow;
    text-decoration: none;
    margin: 15px 30px;
}

#logo {
    float: left; 
    width: 200px;
    height: 50px;
    /* font-size: 40px;
    color: yellow;
    margin: 12.5px 0px; */
}

.nav ul{
    display: inline-block;
    height: 100%;
    margin: 12.5px auto;
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
}

.nav ul li a {
    text-decoration: none;
   
    width: 100%;

    display: inline-block;

    padding-left: 10px;
    padding-right: 10px;
}

#logo, ul, #login{
    display: inline-block;
}

li {
    text-align: center;
}

.active a {
    border-bottom: 5px solid yellow;
    color: white !important;
}

li a:hover {
    border-bottom: 5px solid yellow;
    color: white;
}

li a {
    color: yellow;
}

.search-nav {
    height: 57px;
    width: 100vw;
    background-color: rgb(71, 71, 202)
}

.search-container {
    width: 400px;
    height: 40px;
    background-color: white;
    margin: 8.5px 10%;
}

#drop-down {
    height: 100%;
    width: 100px;
    background-color: yellow;
    text-align: center;
    padding: 8px 0px;
    float: left;
    font-weight: 400;
    outline: none;
}

#drop-down option:hover {
    background-color: rgb(71, 71, 202);
}

/* #category-content {
    display: none;
    position: absolute;
    bottom: -90px;
    background-color: yellow;
}

#category-content a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: black;
    font-weight: bolder;
}*/

#category-content a:hower {
    font-weight: bolder !important;
}

#drop-down:hover #category-content{
    display: block;
}

#search-box {
    width: 260px;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 10px;
    color: black;
}

#search-icon {
    float: right;
    width: 40px;
    height: 100%;
    background-color: yellow;
    padding: 8px 1%;
}

#search-icon i {
    font-size: 25px; 
}

.main{
    white-space: nowrap;
    position: relative;
    transition: right 2s;
    right: 0%;
    font-size: 0;
}

.main div{
    display: inline-block;
    width: 25%;
    background-color:#ffda35;
    height: 200px;
    font-size: 16px;

    /* optional */
    padding-top: 100px;
    text-align: center;
    border: 1px solid black;
} 

#prev, #next {
    text-decoration: none;
    width: 20px;
    height: 60px;
    cursor: pointer;
    background-color: white; 
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#prev {
    left: 0;
    transition: left 2s;
}

#next {
    right: 0;
    transition: right 2s;
}

#chatbot {
    font-size: 60px;
    position: fixed;
    color: rgb(43, 43, 251);
    right: 10px;
    bottom: 20px;
    cursor: pointer;
}

#women, #fashion {
    position: absolute;
    top: 70px;
}

#women {
    left: 8px;
    color: white;
}

#fashion {
    right: 80px;
    color: rgb(60, 60, 248);
}

#shop-now{
    position: absolute;
    left: 8px;
    top: 300px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 135px;
    background-color: rgb(60, 60, 248);
    color: white;
}

