*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-margin-top: 65px;
}

body {
    overflow-x: hidden;
    padding-top: 57px;
}

.nav {
    width: 100vw;
    padding: 4px 0px;
    background-color: rgb(60, 60, 248);
    position: fixed;
    top: 0;
    z-index: 3;
    height: 57px;
}

.slide-img-container {

}

.main div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#login{
    float: right;
    color: yellow;
    text-decoration: none;
    margin: 15px 30px;
}

#login-container {
    display: inline;
}

#logo {
    float: left; 
    width: 200px;
    height: 50px;
    /* font-size: 40px;
    color: yellow;
    margin: 12.5px 0px; */
}

.nav ul{
    display: inline-block;
    height: 100%;
    margin: 8.5px 2%;
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
}

.nav ul li a {
    text-decoration: none;
   
    width: 100%;

    display: inline-block;

    padding-left: 10px;
    padding-right: 10px;
}

#logo, ul, #login{
    display: inline;
}

.nav ul li {
    text-align: center;
}

.active a {
    border-bottom: 5px solid yellow;
    color: white !important;
}

.nav ul li a:hover {
    border-bottom: 5px solid yellow;
    color: white;
}

.nav ul li a {
    color: yellow;
}

.search-nav {
    height: 57px;
    width: 100vw;
    background-color: rgb(71, 71, 202)
}

.search-container {
    display: inline-block;
    width: 30%;
    height: 40px;
    background-color: white;
    margin: 4.5px 5%;
}

#drop-down {
    height: 40px;
    width: 80px;
    background-color: yellow;
    text-align: center;
    padding: 8px 0px;
    float: left;
    font-weight: 400;
    outline: none;
}

#category-content a:hower {
    font-weight: bolder !important;
}

#drop-down:hover #category-content{
    display: block;
}

#search-box {
    width: 25%;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 10px;
    color: black;
}

#search-icon {
    float: right;
    width: 40px;
    height: 100%;
    background-color: yellow;
    padding: 8px 1%;
}

#search-icon i {
    font-size: 25px; 
}

#collapse-bar-logo {
    float: right;
    display: none;
    color: yellow;
    margin: 15px 30px;
    cursor: pointer;
}

#collapse-bar-logo i {
    font-size: 30px;
}

#collapse-close {
    cursor: pointer;
    font-size: 40px;
    text-align: right;
    color: #fedf44;
}

#right-collapsed-bar {
    top: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: rgb(60, 60, 248);
    padding: 40px;
    display: none;
}

#right-collapsed-bar ul li {
    list-style: none;
    margin: 20px 0px;
}

#right-collapsed-bar ul li a {
    text-decoration: none;
    color: white;
}

.main{
    white-space: nowrap;
    position: relative;
    transition: right 2s;
    right: 0%;
    font-size: 0;
}

.main div{
    display: inline-block;
    width: 25%;
    background-color:#ffda35;
    height: 157px;
    font-size: 16px;

    /* optional */
    /* padding: 10px; */
    text-align: center;
    border-bottom: 1px solid grey;
} 

#prev, #next {
    text-decoration: none;
    width: 20px;
    height: 60px;
    cursor: pointer;
    background-color: white; 
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#prev {
    left: 0;
    transition: left 2s;
}

#next {
    right: 0;
    transition: right 2s;
}

#chatbot {
    font-size: 60px;
    position: fixed;
    color: rgb(43, 43, 251);
    right: 10px;
    bottom: 20px;
    cursor: pointer;
}

#clothing {
    height: 500px; 
    background-color: #fedf44;
    background-image: url(./images/merged.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

#women, #fashion {
    text-align: center;
    margin-bottom: 100px;
}

#women {
    color: white;
}

#fashion { 
    color: rgb(60, 60, 248);
}

#shop-now{
    margin: 0px auto;
    display: block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 135px;
    background-color: rgb(60, 60, 248);
    color: white;
}

#collpse-login{
    margin: 0px auto;
    display: block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 135px;
    background-color: yellow;
    color: black;
}

.top-deals {
    background-color: yellow;
    width: 15vw;
    height: 600px;
    float: left;
}


/* Media queries for Nav Bar */ 

@media (max-width: 1055px) {
    #collapse-bar-logo {
        display: block;
    }
    #login-container {
        display: none;
    }
    .nav ul{
        display: none;
    }

    .search-container{
        width: 43%;
    }
}

@media (max-width: 640px) {
    .search-container{
        display: none;
    }
}



/* Media query for sliders : */

@media (max-width: 509px) and (min-width: 0px) {  /* 1 boxes inside */
    .main div{
        width: 100%;    /* taken 1/1 */
    }
}

@media (max-width: 763.5px) and (min-width: 509.01px) {  /* 3 boxes inside */
    .main div{
        width: 50%;    /* taken 1/2 */
    }
}

@media (max-width: 1272.5px) and (min-width: 763.51px) {  /* 5 boxes inside */
    .main div{
        width: 34%;    /* taken 1/3 */
    }
}